/*================================================
基本情報
================================================*/
@import url('https://fonts.googleapis.com/css?family=Sacramento');

/*================================================
ヘッダー
================================================*/
.header_menu{
	width: 100%;
	padding: 10px 0px;
	overflow: hidden;
	background: black;
    border-radius: 10px;
    font-family: 'Sacramento', cursive;
}

.header_menu img{
    width: 35px;
    height: 35px;
}

.header_menu ul{
	position: relative;
	float: left;
	left: 50%;
	margin: 0;
	padding: 0;
}

.header_menu li{
	position: relative;
	left: -50%;
	float: left;
	list-style: none;
	margin: 0;
	padding: 15px 20px 0px 20px;
	font-size: 24px;
	text-align: center;
    color: white;
}

.header_menu a{
	color: white;
    text-decoration:none;
}

.header_menu a:hover{
	color: lightgreen;
}

/*================================================
メイン
================================================*/
.main_info{
    text-align: center;
    color: black;
}

/*================================================
更新情報
================================================*/
.update_info h2{
    background-color: black;
    color: white;
    padding: 0 0 0 10px;
    border-radius: 10px;
}

/*================================================
本棚
================================================*/
.study_book{
	overflow:hidden;
}

.study_book h2{
    background-color: black;
    color: white;
    padding: 0 0 0 10px;
    border-radius: 10px;
}

.study_book ul{
	overflow:hidden;
    padding: 10px 0 0 30px;
}
.study_book li{
	list-style:none;
	float:left;
	width:230px;
}
.study_book li:nth-child(10n+1){
	clear:both;
}
.study_book li img{
	width: 200px;
    height: 280px;
}

.link{
	overflow:hidden;
}

.link h2{
    background-color: black;
    color: white;
    padding: 0 0 0 10px;
    border-radius: 10px;
}

/*================================================
リンク
================================================*/
.link ul{
	overflow:hidden;
    padding: 10px 0 0 30px;
    font-family: 'Sacramento', cursive;
}
.link li{
	list-style:none;
	float:left;
	width:230px;
}
.link li:nth-child(10n+1){
	clear:both;
}
.link li img{
	width: 200px;
    height: 200px;
}

.link figcaption{
    color: green;
}

.link a{
    text-decoration: none;
}

/*================================================
フッター
================================================*/
.footer_menu{
    background-color: black;
    color: gray;
    text-align: center;
    border-radius: 10px;
    font-family: 'Sacramento', cursive;
}

/*================================================
スマホ用
================================================*/
@media screen and (max-width:600px){
    .header_menu{
	   padding: 1vw 0px;
    }

    .header_menu img{
        width: 3.5vw;
        height: 3.5vw;
    }

    .header_menu li{
        padding: 0.5vw 2vw 0px 2vw;
        font-size: 3.6vw;
	}

    .main_info{
        font-size: 2.4vw;
    }
    
    .update_info ul{
        font-size: 2.4vw;
    }
    
    .update_info h2{
        padding: 0 0 0 1vw;
        font-size: 2.4vw;
    }

    .study_book h2{
        padding: 0 0 0 1vw;
        font-size: 2.4vw;
    }

    .study_book ul{
        padding: 1vw 0 0 3vw;
    }
    
    .study_book li{
        width:23vw;
    }

    .study_book li img{
        width: 20vw;
        height: 28vw;
    }



    .link h2{
        padding: 0 0 0 1vw;
        font-size: 2.4vw;
    }

    .link ul{
        padding: 1vw 0 0 3vw;
        font-size: 2.4vw;
    }
    .link li{
        width:23vw;
    }

    .link li img{
        width: 20vw;
        height: 20vw;
    }
    
    .footer_menu{
        font-size: 2.4vw;
    }
}