body{
  font-family: "Avenir Next";
}

li{
  list-style: none;
}

.header{
  background-color: #99ff99;
  color: #fff;
  height: 90px;
}

.header-logo{
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li{
  float: left;
  padding: 33px 20px;
}

.main{
  padding: 5px 20px;
}

.greeting{
  font-size: 10px;
}

.contents img{
  height: 150px;
  width: 150px;
}

.footer{
  background-color: #2f5167;
  height: 20px;
}
