body{
  font-family: "Avenir Next";
}

li{
  list-style: none;
}

.header{
  background-color: #99ff99;
  color: #fff;
  height: 90px;
}

.header-logo{
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li{
  float: left;
  padding: 33px 20px;
}

.link{
  margin-top: 30px;
}

.twitter img{
  height: 150px;
  width: 150px;
}

.twitter p{
  padding: 0px 0px 10px 50px;
}

.instagram img{
  height: 150px;
  width: 150px;
}

.instagram p{
  padding: 0px 0px 10px 40px;
}

.footer{
  background-color: #2f5167;
  height: 150px;
}

.mail{
  padding: 10px 10px;
}
